<a href="https://colab.research.google.com/gist/charviey/c05d0f0b5cbe24db279bc7ff68b974c6/notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Energy saved from recycling
<p>Did you know that recycling saves energy by reducing or eliminating the need to make materials from scratch? For example, aluminum can manufacturers can skip the energy-costly process of producing aluminum from ore by cleaning and melting recycled cans. Aluminum is classified as a non-ferrous metal.</p>
<p>Singapore has an ambitious goal of becoming a zero-waste nation. The amount of waste disposed of in Singapore has increased seven-fold over the last 40 years. At this rate, Semakau Landfill, Singaporeâ€™s only landfill, will run out of space by 2035. Making matters worse, Singapore has limited land for building new incineration plants or landfills.</p>
<p>The government would like to motivate citizens by sharing the total energy that the combined recycling efforts have saved every year. They have asked you to help them.</p>
<p>You have been provided with three datasets. The data come from different teams, so the names of waste types may differ.</p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:16px"><b>datasets/wastestats.csv - Recycling statistics per waste type for the period 2003 to 2017</b>
    </div>
    <div>Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>waste_type: </b>The type of waste recycled.</li>
    <li><b>waste_disposed_of_tonne: </b>The amount of waste that could not be recycled (in metric tonnes).</li>
    <li><b>total_waste_recycle_tonne: </b>The amount of waste that could be recycled (in metric tonnes).</li>
    <li><b>total_waste_generated: </b>The total amount of waste collected before recycling (in metric tonnes).</li>
    <li><b>recycling_rate: </b>The amount of waste recycled per tonne of waste generated.</li>
    <li><b>year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/2018_2019_waste.csv - Recycling statistics per waste type for the period 2018 to 2019</b>
    </div>
    <div> Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>Waste Type: </b>The type of waste recycled.</li>
    <li><b>Total Generated: </b>The total amount of waste collected before recycling (in thousands of metric tonnes).</li> 
    <li><b>Total Recycled: </b>The amount of waste that could be recycled. (in thousands of metric tonnes).</li>
    <li><b>Year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/energy_saved.csv -  Estimations of the amount of energy saved per waste type in kWh</b>
    </div>
<ul>
    <li><b>material: </b>The type of waste recycled.</li>
    <li><b>energy_saved: </b>An estimate of the energy saved (in kiloWatt hour) by recycling a metric tonne of waste.</li> 
    <li><b>crude_oil_saved: </b>An estimate of the number of barrels of oil saved by recycling a metric tonne of waste.</li>
</ul>

</div>
<pre><code>
</code></pre>

In [ ]:
# Use this cell to begin your analysis, and add as many as you would like!

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
waste2017 = pd.read_csv('datasets/wastestats.csv')
waste2019 = pd.read_csv('datasets/2018_2019_waste.csv')
energy = pd.read_csv('datasets/energy_saved.csv')

In [ ]:
waste2017.head()

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
0,Food,679900,111100.0,791000,0.14,2016
1,Paper/Cardboard,576000,607100.0,1183100,0.51,2016
2,Plastics,762700,59500.0,822200,0.07,2016
3,C&D,9700,1585700.0,1595400,0.99,2016
4,Horticultural waste,111500,209000.0,320500,0.65,2016

In [ ]:
waste2017.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 6 columns):
waste_type                     225 non-null object
waste_disposed_of_tonne        225 non-null int64
total_waste_recycled_tonne     225 non-null float64
total_waste_generated_tonne    225 non-null int64
recycling_rate                 225 non-null float64
year                           225 non-null int64
dtypes: float64(2), int64(3), object(1)
memory usage: 10.6+ KB

In [ ]:
waste2017.waste_type.unique()

array(['Food', 'Paper/Cardboard', 'Plastics', 'C&D',
       'Horticultural waste', 'Wood', 'Ferrous metal',
       'Non-ferrous metal', 'Used slag', 'Ash & Sludge', 'Glass',
       'Textile/Leather', 'Scrap tyres',
       'Others (stones, ceramics & rubber etc.)', 'Total',
       'Others (stones, ceramics & rubber etc)', 'Food waste',
       'Construction Debris', 'Wood/Timber', 'Horticultural Waste',
       'Ferrous Metal', 'Non-ferrous Metals', 'Used Slag', 'Sludge',
       'Scrap Tyres', 'Ferrous Metals', 'Others', 'Construction debris',
       'Non-ferrous metals', 'Ash and sludge', 'Plastic',
       'Others (stones, ceramic, rubber, etc.)'], dtype=object)

In [ ]:
waste2017['waste_type'].replace({'Non-ferrous metal':'Non-ferrous metal'},inplace=True)
waste2017['waste_type'].replace({'Non-ferrous Metals':'Non-ferrous metal'},inplace=True)
waste2017['waste_type'].replace({'Non-ferrous metals':'Non-ferrous metal'},inplace=True)

In [ ]:
waste2017['waste_type'].replace({'Ferrous metal':'Ferrous metal'},inplace=True)
waste2017['waste_type'].replace({'Ferrous Metal':'Ferrous metal'},inplace=True)
waste2017['waste_type'].replace({'Ferrous Metals':'Ferrous metal'},inplace=True)

In [ ]:
waste2017 = waste2017[(waste2017['waste_type']=='Glass')|(waste2017['waste_type']=='Ferrous metal')|
          (waste2017['waste_type']=='Non-ferrous metal')|(waste2017['waste_type']=='Plastics')]

In [ ]:
waste2017

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
2,Plastics,762700,59500.0,822200,0.07,2016
6,Ferrous metal,6000,1351500.0,1357500,0.99,2016
7,Non-ferrous metal,1300,95900.0,97200,0.99,2016
10,Glass,57600,14700.0,72300,0.20,2016
17,Plastics,766800,57800.0,824600,0.07,2015
21,Ferrous metal,15200,1333300.0,1348500,0.99,2015
22,Non-ferrous metal,19600,160400.0,180000,0.89,2015
25,Glass,60600,14600.0,75200,0.19,2015
32,Plastics,789000,80000.0,869000,0.09,2014
36,Ferrous metal,57000,1388900.0,1445900,0.96,2014
37,Non-ferrous metal,23700,94700.0,118400,0.80,2014
40,Glass,63800,15700.0,79500,0.20,2014
47,Plastics,741100,91100.0,832200,0.11,2013
51,Ferrous metal,46800,1369200.0,1416000,0.97,2013
52,Non-ferrous metal,21100,114000.0,135100,0.84,2013
55,Glass,58900,14600.0,73500,0.20,2013
62,Plastics,721300,82100.0,803400,0.10,2012
66,Ferrous metal,54800,1331200.0,1386000,0.96,2012
67,Non-ferrous metal,25200,97300.0,122500,0.79,2012
70,Glass,55400,19500.0,74900,0.26,2012
77,Plastics,656000,77000.0,733000,0.11,2011
81,Ferrous metal,67600,1171600.0,1239200,0.95,2011
82,Non-ferrous metal,14500,102800.0,117300,0.88,2011
85,Glass,51400,21400.0,72800,0.29,2011
92,Plastics,662300,78100.0,740400,0.11,2010
96,Ferrous metal,67100,1127500.0,1194600,0.94,2010
97,Non-ferrous metal,12400,73100.0,85500,0.85,2010
100,Glass,60700,19200.0,79900,0.24,2010
107,Plastics,628600,60300.0,688900,0.09,2009
111,Ferrous metal,65800,806200.0,872000,0.92,2009
112,Non-ferrous metal,10100,47500.0,57600,0.82,2009
115,Glass,57500,15600.0,73100,0.21,2009
122,Plastics,623200,61200.0,684400,0.09,2008
126,Ferrous metal,49800,735000.0,784800,0.94,2008
127,Non-ferrous metal,13000,72000.0,85000,0.85,2008
130,Glass,47100,10000.0,57100,0.18,2008
137,Plastics,584800,75000.0,659800,0.11,2007
141,Ferrous metal,68500,668000.0,736500,0.91,2007
142,Non-ferrous metal,16700,75600.0,92300,0.82,2007
145,Glass,59500,5800.0,65300,0.09,2007
152,Plastics,579000,77800.0,656800,0.12,2006
156,Ferrous metal,68500,657400.0,725900,0.91,2006
157,Non-ferrous metal,16000,70700.0,86700,0.82,2006
160,Glass,56600,6400.0,63000,0.10,2006
167,Plastics,588800,86000.0,674800,0.13,2005
171,Ferrous metal,69200,749100.0,818300,0.92,2005
172,Non-ferrous metal,14700,74700.0,89400,0.84,2005
175,Glass,58800,3800.0,62600,0.06,2005
182,Plastics,609000,74100.0,683100,0.11,2004
186,Ferrous metal,70300,649900.0,720200,0.90,2004
187,Non-ferrous metal,15100,71800.0,86900,0.83,2004
190,Glass,68700,4900.0,73600,0.07,2004
197,Plastics,540800,39100.0,579900,0.07,2003
201,Ferrous metal,57700,799000.0,856700,0.93,2003
202,Non-ferrous metal,18100,75800.0,93900,0.81,2003
205,Glass,59300,6200.0,65500,0.09,2003
211,Ferrous metal,7800,1371000.0,1378800,0.99,2017
213,Non-ferrous metal,1500,92200.0,93700,0.98,2017
218,Glass,58900,12400.0,71300,0.17,2017

In [ ]:
waste2017 = waste2017[waste2017['year']>2014]

In [ ]:
recycled = (pd.DataFrame(waste2017.groupby(['year','waste_type'])['total_waste_recycled_tonne'].sum())).reset_index()
recycled

    year         waste_type  total_waste_recycled_tonne
0   2015      Ferrous metal                   1333300.0
1   2015              Glass                     14600.0
2   2015  Non-ferrous metal                    160400.0
3   2015           Plastics                     57800.0
4   2016      Ferrous metal                   1351500.0
5   2016              Glass                     14700.0
6   2016  Non-ferrous metal                     95900.0
7   2016           Plastics                     59500.0
8   2017      Ferrous metal                   1371000.0
9   2017              Glass                     12400.0
10  2017  Non-ferrous metal                     92200.0

In [ ]:
waste2019.head()

,Waste Type,Total Generated ('000 tonnes),Total Recycled ('000 tonnes),Year
0,Construction& Demolition,1440,1434,2019
1,Ferrous Metal,1278,1270,2019
2,Paper/Cardboard,1011,449,2019
3,Plastics,930,37,2019
4,Food,7440,136,2019

In [ ]:
waste2019['Waste Type'].unique()

array(['Construction& Demolition', 'Ferrous Metal', 'Paper/Cardboard',
       'Plastics', 'Food', 'Wood', 'Horticultural', 'Ash & Sludge',
       'Textile/Leather', 'Used Slag', 'Non-Ferrous Metal', 'Glass',
       'Scrap Tyres', 'Others (stones, ceramic, rubber, ect)', 'Overall'],
      dtype=object)

In [ ]:
waste2019['Waste Type'] = waste2019['Waste Type'].replace({'Ferrous Metal':'Ferrous metal'})
waste2019['Waste Type'] = waste2019['Waste Type'].replace({'Non-Ferrous Metal':'Non-ferrous metal'})

In [ ]:
waste2019['Waste Type'].unique()

array(['Construction& Demolition', 'Ferrous metal', 'Paper/Cardboard',
       'Plastics', 'Food', 'Wood', 'Horticultural', 'Ash & Sludge',
       'Textile/Leather', 'Used Slag', 'Non-ferrous metal', 'Glass',
       'Scrap Tyres', 'Others (stones, ceramic, rubber, ect)', 'Overall'],
      dtype=object)

In [ ]:
waste2019 = waste2019[(waste2019['Waste Type']=='Glass')|(waste2019['Waste Type']=='Ferrous metal')|
          (waste2019['Waste Type']=='Non-ferrous metal')|(waste2019['Waste Type']=='Plastics')]

In [ ]:
waste2019['Total Recycled (\'000 tonnes)'] = waste2019['Total Recycled (\'000 tonnes)'] * 1000
waste2019

,Waste Type,Total Generated ('000 tonnes),Total Recycled ('000 tonnes),Year
1,Ferrous metal,1278,1270000,2019
3,Plastics,930,37000,2019
10,Non-ferrous metal,126,124000,2019
11,Glass,75,11000,2019
16,Ferrous metal,1269,126000,2018
18,Plastics,949,41000,2018
25,Non-ferrous metal,171,170000,2018
26,Glass,64,12000,2018

In [ ]:
recycled.columns = ['year', 'Waste Type','Total Recycled']
recycled

    year         Waste Type  Total Recycled
0   2015      Ferrous metal       1333300.0
1   2015              Glass         14600.0
2   2015  Non-ferrous metal        160400.0
3   2015           Plastics         57800.0
4   2016      Ferrous metal       1351500.0
5   2016              Glass         14700.0
6   2016  Non-ferrous metal         95900.0
7   2016           Plastics         59500.0
8   2017      Ferrous metal       1371000.0
9   2017              Glass         12400.0
10  2017  Non-ferrous metal         92200.0

In [ ]:
recycled2 = (pd.DataFrame(waste2019.groupby(['Year','Waste Type'])['Total Recycled (\'000 tonnes)'].sum())).reset_index()
recycled2.columns = ['year', 'Waste Type','Total Recycled']
recycled2

   year         Waste Type  Total Recycled
0  2018      Ferrous metal          126000
1  2018              Glass           12000
2  2018  Non-ferrous metal          170000
3  2018           Plastics           41000
4  2019      Ferrous metal         1270000
5  2019              Glass           11000
6  2019  Non-ferrous metal          124000
7  2019           Plastics           37000

In [ ]:
recycled_total = pd.concat([recycled,recycled2]).reset_index(drop=True)
recycled_total
df['total energy saved'] = 0
df['total energy saved'] = df['Total Recycled']*Some value

    year         Waste Type  Total Recycled
0   2015      Ferrous metal       1333300.0
1   2015              Glass         14600.0
2   2015  Non-ferrous metal        160400.0
3   2015           Plastics         57800.0
4   2016      Ferrous metal       1351500.0
5   2016              Glass         14700.0
6   2016  Non-ferrous metal         95900.0
7   2016           Plastics         59500.0
8   2017      Ferrous metal       1371000.0
9   2017              Glass         12400.0
10  2017  Non-ferrous metal         92200.0
11  2018      Ferrous metal        126000.0
12  2018              Glass         12000.0
13  2018  Non-ferrous metal        170000.0
14  2018           Plastics         41000.0
15  2019      Ferrous metal       1270000.0
16  2019              Glass         11000.0
17  2019  Non-ferrous metal        124000.0
18  2019           Plastics         37000.0

In [ ]:
recycled_total = recycled_total.sort_values('Waste Type').reset_index(drop=True)
recycled_total

    year         Waste Type  Total Recycled
0   2015      Ferrous metal       1333300.0
1   2019      Ferrous metal       1270000.0
2   2016      Ferrous metal       1351500.0
3   2018      Ferrous metal        126000.0
4   2017      Ferrous metal       1371000.0
5   2019              Glass         11000.0
6   2018              Glass         12000.0
7   2017              Glass         12400.0
8   2016              Glass         14700.0
9   2015              Glass         14600.0
10  2016  Non-ferrous metal         95900.0
11  2019  Non-ferrous metal        124000.0
12  2017  Non-ferrous metal         92200.0
13  2018  Non-ferrous metal        170000.0
14  2015  Non-ferrous metal        160400.0
15  2015           Plastics         57800.0
16  2018           Plastics         41000.0
17  2016           Plastics         59500.0
18  2019           Plastics         37000.0

In [ ]:
total1 = list(recycled_total.loc[recycled_total['Waste Type'] == 'Ferrous metal'] ['Total Recycled'] * 642)
total2 = list(recycled_total.loc[recycled_total['Waste Type'] == 'Glass'] ['Total Recycled'] * 42)
total3 = list(recycled_total.loc[recycled_total['Waste Type'] == 'Non-ferrous metal'] ['Total Recycled'] * 14000)
total4 = list(recycled_total.loc[recycled_total['Waste Type'] == 'Plastics'] ['Total Recycled'] * 5774)
total_energy_saved = total1+total2+total3+total4
recycled_total['total_energy_saved'] = total_energy_saved

In [ ]:
recycled_total

    year         Waste Type  Total Recycled  total_energy_saved
0   2015      Ferrous metal       1333300.0        8.559786e+08
1   2019      Ferrous metal       1270000.0        8.153400e+08
2   2016      Ferrous metal       1351500.0        8.676630e+08
3   2018      Ferrous metal        126000.0        8.089200e+07
4   2017      Ferrous metal       1371000.0        8.801820e+08
5   2019              Glass         11000.0        4.620000e+05
6   2018              Glass         12000.0        5.040000e+05
7   2017              Glass         12400.0        5.208000e+05
8   2016              Glass         14700.0        6.174000e+05
9   2015              Glass         14600.0        6.132000e+05
10  2016  Non-ferrous metal         95900.0        1.342600e+09
11  2019  Non-ferrous metal        124000.0        1.736000e+09
12  2017  Non-ferrous metal         92200.0        1.290800e+09
13  2018  Non-ferrous metal        170000.0        2.380000e+09
14  2015  Non-ferrous metal        160400.0        2.245600e+09
15  2015           Plastics         57800.0        3.337372e+08
16  2018           Plastics         41000.0        2.367340e+08
17  2016           Plastics         59500.0        3.435530e+08
18  2019           Plastics         37000.0        2.136380e+08

In [ ]:
energy.head()

,The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram) per waste type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,1 barrel oil is approximately 159 litres of oil,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,material,Plastic,Glass,Ferrous Metal,Non-Ferrous Metal,Paper
3,energy_saved,5774 Kwh,42 Kwh,642 Kwh,14000 Kwh,4000 kWh
4,crude_oil saved,16 barrels,NaN,1.8 barrels,40 barrels,1.7 barrels

In [ ]:
(pd.DataFrame(recycled_total.groupby('year')['total_energy_saved'].sum()))

      total_energy_saved
year
2015        3.435929e+09
2016        2.554433e+09
2017        2.171503e+09
2018        2.698130e+09
2019        2.765440e+09

In [ ]:
annual_energy_savings = pd.DataFrame(recycled_total.groupby('year')['total_energy_saved'].sum())